div {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    color: white;
}


@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 1.5rem;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

    .large div {
        width: 33.3333%;
        float: left;
    }


}


@media only screen and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 1.3rem;
    }


    .medium div {
        float: left;
    }

    .medium div.col-1 {
        width: 50%;
    }

    .medium div.col-2 {
        width: 50%;
    }

    .medium div.col-3 {
        width: 100%;
    }

    .small {
        display: none;
    }

    .large div {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

    body {
        background-color: red;
        font-size: 1rem;
    }

    .medium {
        display: none;
    }

    .small {
        display: block;
        width: 100%;

    }

    .large {
        display: none;
    }
}